.panel>.list-group:first-child .list-group-item:first-child, .panel>.panel-collapse>.list-group:first-child .list-group-item:first-child{
	border-top: 1px solid #ddd!important;
    border-top-left-radius: 0px!important;
    border-top-right-radius: 0px!important;
}